/* Page styles */
.layoutView {
	height: 55vh;
}

.layoutViewPane {
	padding: 0 !important;
	height: 100%;
}

.layoutViewPane > div {
	height: inherit;
	width:inherit;
}
div:has(> .layoutCanvas) {
}

.layoutCanvas {
	height: fit-content;
	width: fit-content;
	padding:30em;
}
/* Container Styles */
.ContainerBody {
	background-color: var(--bs-gray-400);
	position: relative;
	border: 2px solid #000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	user-select: none;
	height: 10em;
}

.drag-bar {
	width: 100%;
	height: 30px;
	background-color: #ccc;
	cursor: grab;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #000;
}

.resize-handle {
	width: 20px;
	height: 20px;
	background-color: #000;
	cursor: se-resize;
	position: absolute;
	bottom: 0;
	right: 0;
}
